DATABASE_URL=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
VERCEL_DEPLOY_HOOK_URL=
NEXT_PUBLIC_ENABLE_SUBSCRIPTIONS=false
CLERK_TEST_USER_EMAIL=
CLERK_TEST_USER_PASSWORD=
CLERK_ADMIN_EMAIL=
CLERK_ADMIN_PASSWORD=