requests
python-dotenv
psycopg2-binary
tenacity
openai
langchain
langchain-community
langchain-openai
tiktoken
PyMuPDF
types-requests
types-psycopg2
mypy
pytest
black
isort
flake8
python-logging-loki
